
/***
/** OpenShop default styling.
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {

	margin: 0;
	font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-weight: 400;
	line-height: 1.2em;
	color: #212529;
	text-align: left;
	/* background-color: #f8f9fa; */
}

div {
	/* border:1px solid #000; */
}

#searchbar {
	height:20px;
	width:100%;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding:5px;
}

#searchbar-input {
	float:left;
	width:100%;
	height: 29px;
	margin:auto;
	padding:5px;
	background-color: #fff;
	color:#000;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

#search-button {
	float:left;
	padding: 5px;
	padding-bottom: 10px;
	font-size: 12.5px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 5px;
	text-align:center;
	margin:0px;
	margin-left: -50px;
	height: 29px;
}

#searchbar input[type="submit"]:hover {

}

#ts-shop-result-message {
	
	margin:auto;
	width: 30%;
	position:absolute;
	top:200;
	left:30%;
	float:center;
	z-index:11;
	padding: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #ded4da;
	border-radius: .15rem;
	display:none;
	cursor:pointer;
}

#ts-shop-result-message:focus {
	display:none;
}

#ts-shop-msg-close {
	text-align:right;
	position: absolute;
	float:right;
	z-index:12;
}


#ts-critical-error-box {
	display: block;
	width:100%;
	padding: .375rem .75rem;
	margin:5px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #ced4da;
	border: 1px solid #dddddd;
	border-radius: .15rem;
	z-index:10;
}

div {
	/* 
	testing div borders.
	border:1px solid #000;
	*/
}
h1 {
    color: #000;
    font-family: 'Playfair Display', Georgia, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", serif;
    font-size: 16px;
    margin: 0px;
    margin-top: 10px;
    /* margin-left: 20px; */
}

fieldset {
	width: 50%;
	background-color: #efefef;
	padding: 15px;
}
input[type="text"],
textarea {
	display: block;
	padding: 5px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 3px;
}
input[type="button"],
input[type="submit"] {
	display:inline-block;
	height: calc(1.5em + .75rem + 2px);
	padding: 5px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: 3px;
	float:left;
	margin-top: 3px;
}
input[type="number"] {
	padding:8px;
	margin:0px;
	margin-right:5px;
	margin-top: 3px;
	color: #495057;
	width:35px;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 3px;
	float:left;
}

input[name="submit"] {
	margin: 1em;
    margin-right: 0px;
	float:right;
}
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type="radio" i] {
	background-color: initial;
	cursor: default;
	-webkit-appearance: radio;
	box-sizing: border-box;
	margin: 3px 3px 0px 5px;
	padding: initial;
	border: initial;
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type="checkbox" i] {
	background-color: initial;
	cursor: default;
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	margin: 3px 3px 3px 4px;
	padding: initial;
	border: initial;
}

option:disabled { 
	background-color:#dedede;
	font-family:monospace;
	font-size:11px;
}

select option:disabled { 
	background-color:#dedede;
	font-family:monospace;
	font-size:11px;
}

button,
input {
	overflow: visible;
}
textarea {
	width: 80%;
}
label {
	font-weight: bold;
}
div {
	padding: 3px; 
}
table td {
	color: #000;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	font-size: 1em;
}
th {
	text-align: left;
	font-weight: bold;
}

ul {
    display: -ms-flexbox;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
li:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.status-red {
	color: #ff3300;
}
.status-green {} 

a:link, a:visited {
	color: #663399;
	text-decoration: none;
}
div.red {
	font-family: monospace;
	width: 200px;
	height: 20px;
	color: #000;
}
div.blue {
	font-family: monospace;
	width: 200px;
	height: 20px;
	color: #000;
}
div.blank {
	font-family: monospace;
	width: 190px;
	height: 20px;
	margin: 0px;
	clear: both;
}
.cover {
	width: 350px;
	height: 550px;
	float: left;
	clear: right;
	margin: 25px;
}
p {
	color: #000;
	font-family: monospace;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

/***
/** Store styling.
*/

#ts-shop-logo {
	
}

#ts-shop-error {
	
}

#ts-products-noproducts {
	background-color: #f2f2f2;
	border: 1px solid #333;
	padding:5px;
	margin-left:20px;
}

.ts-shop-ul {
	border-collapse: collapse;
}

/***
/** Custom elements styling.
*/

.ts-shop-ul-set {
	display: table;
    table-layout: fixed;
    width: 100%;
	border-collapse: collapse;
	font-size:12px;
}	
	
.ts-shop-ul {
	display: table-row;
    margin: 0;
    padding: 0;
	font-size:12px;
}

.ts-shop-ul li: nth-child(even) {background-color: #f2f2f2;}

.ts-shop-li {
    list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
}

.ts-shop-ul-li-item {
    list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:15%;
}

.ts-shop-ul-li-item-icon {
    list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	vertical-align:middle;
}

.ts-shop-ul-li-item-product {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:35%;
	vertical-align:middle;
}

.ts-shop-ul-li-item-qty {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 0px;
	padding: 2px;
	width:7%;
	vertical-align:middle;
}

.ts-shop-ul-li-item-delete {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:5%;
	vertical-align:middle;
}

.ts-shop-ul-li-item-price {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:15%;
	vertical-align:middle;
}

.ts-shop-ul-li-item-update {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:5%;
	vertical-align:middle;
}
.ts-shop-ul-li-item-total {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	padding-top:5px;
	width:7%;
	vertical-align:middle;
}

.ts-shop-ul-li-item-description {
	list-style: none;
    display: table-cell;
    text-align: center;
	margin: 2px;
	padding: 0.2em;
	width:35%;
	vertical-align:middle;
}

.ts-shop-ul-li-item input[type="number"] {
	margin:0;
	width: 30px;
	text-align: center;
}


.ts-shop-ul-li-item input[type="button"] {
	padding:0;
	margin:0;
	height:20px;
	width:20px;
	font-size:10px;
	color: #495057;
	background-color: #999;
	background-clip:none;
	border: 0px;
	border-radius: 0px;
	float:left;
	margin-top: 3px;
}

/***
/** Product styling
*/

#ts-product {
	margin-left:100px
} 

.ts-product-image-icon {
	display: block;
	height: 100px;
	width: 100px;
	margin: 10px;
	font-size:4em;
}


#ts-product-list {
	display:inline-block;
}

.ts-product-image-div {
	/* height:150px; */
} 

.ts-product-image {
	width:100%;
}

.product-option { 
	display: inline-block;
	padding: 5px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 3px;
	float:left;
	clear:right;
}

ts-product-image-div-featured {
	height:900px;
}

/***
/** OpenShop product list
*/

.ts-product-list {
	display:block;
	border: 1px solid #ced4da;
	margin:5px;
	padding:8px;
	background-color:#fff;
}

.ts-list-product-price {
	display:block;
}
.ts-list-product-link {
	display:block;
}
.ts-list-product-desc { 
	display:block;
}
.ts-list-product-cat {
	display:block;
}
.ts-list-product-status {
	display:block;
}
.ts-list-product-link {
	display:block;
} 
.ts-list-cart-button {
	
	float:left;	
} 
.ts-list-view-link {
	display:block;
}

/***
/** OpenShop product group
*/

.ts-product-group {
	display:inline-block;
	border: 1px solid #ced4da;
	margin:5px;
	padding:8px;
	background-color:#fff;
}
.ts-product-list {
	display:inline-block;
	width:15%;
	vertical-align:top;
}
.ts-group-product-price {
	display:inline-block;
}
.ts-group-product-link {
	display:inline-block;
}
.ts-group-product-desc { 
	display:inline-block;
}
.ts-group-product-cat {
	display:inline-block;
}
.ts-group-product-status {
	display:block;
}
.ts-group-product-link {
	display:inline-block;
} 

.ts-group-cart-button {
	
	float:left;
} 

.ts-group-view-link {
	display:inline-block;
}

/***
/** OpenShop pagination
*/

#ts-paginate {
	display:block;
	height:20px;
}

#ts-paginate-left {
	display:block;
	float:left;
	text-align:left;
	font-size:12px;
	padding:0px;
	margin:0px;
	margin-left:5px;
}

#ts-paginate-right {
	display:block;
	float:right;
	text-align:right;
	font-size:12px;
	padding:0px;
	margin:0px;
}

#ts-paginate-arrow {
	
	font-size:1.5em;
}

.ts.disabled.span {
	font-family: monospace;
	font-size: 10px;
}


/***
/** OpenShop cart form
/** some parts come from bootstrap, serving as an example.
*/

label {
	display: block;
}
#ts-shop-cart-form {
	display: block;
	width: 100%;
	margin: 5px;
	text-align: left;
	/* margin-right: -15px;
	   margin-left: -15px;
	*/
}
.ts-shop-form-field {
	display: block;
	float: right;
}

#ts-shop-cart-form-data {
	display: block;
	width: 100%;
	margin: 5px;
}
#ts-shop-cart-form input[type="text"] {
	display: block;
	width: 90%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}
#ts-form-cart-payment-gateway-select, #ts-form-cart-shipping-country-select {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}

#email-prepayment {

	width: 200px!important;
	float:left;
}

/***
/** OpenShop shop blog
*/

#ts-shop-blog {
	display: block;
	width: 100%;
	margin: 5px;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	border:1px solid #ced4da;
}

.ts-shop-blog-item {
	display: block;
	float: left;
	border:1px solid #ced4da;
	width: 30%;
	margin: 1em;
	padding: 1.5em;
	text-align: left;
	position: relative;
}

/***
/** OpenShop articles
*/

#ts-shop-articles {
	display: block;
	width: 100%;
	margin: 5px;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	border:1px solid #ced4da;
}

.ts-shop-articles-item {
	display: block;
	float: left;
	border:1px solid #ced4da;
	width: 30%;
	margin: 1em;
	padding: 1.5em;
	text-align: left;
	position: relative;
}

/***
/** OpenShop pages
*/

#ts-shop-pages {
	display: block;
	width: 100%;
	margin: 5px;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	border:1px solid #ced4da;
}

.ts-shop-pages-item {
	display: block;
	float: left;
	border:1px solid #ced4da;
	width: 30%;
	margin: 1em;
	padding: 1.5em;
	text-align: left;
	position: relative;
}

/***
/** paypal checkout form
*/

#ts-shop-form {
	display: block;
	width: 100%;
	margin: 0;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ts-shop-form-section {
	display: block;
	float: left;
	width: 35%;
	margin: 10px;
	padding: 1.5em;
	text-align: left;
	position: relative;
}

label {
	display: block;
}

#cart-contents {
	float: right;
	width: 10%;
	margin: 0px;
	padding: 15px;
	top:0;
	right:0;
	text-align:center;
	position:absolute;
	z-index:4;
	border: 1px solid #ded4da;
	background-color:#ced4da;
	
}

#ts-shop-cart-error {
	margin: 20px;
	font-size: 22px;
	float:left;
	display: block;
}

#ts-shop-delete {
	
}

.ts-product-status-red {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  color:white;
  font-size:9px;
  font-weight:bold;
  border: 1px solid white;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  float:left;
}	

.ts-product-status-green {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  color:white;
  font-size:9px;
  font-weight:bold;
  border: 1px solid white;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  float:left;
}		
	
.dot-red {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  color:white;
  font-size:8px;
  display: inline-block;
}

.ts-shop-upload-message {
	background-color:lightgreen;
	border-color:1px solid green;
}

.ts-shop-upload-message-red {
	color:#ff0000;
	font-size:12px;
}

/***
/** Navigation left side
*/

#ts-shop-left-navigation {
	list-style:none;
	margin:0px;
	padding:0px;
	display:block;
	height:100%;
}

.ts-shop-left-navigation-cat {
	display:block;
	list-style:none;
	border:0px;
	cursor:pointer;
	margin:0px;
	padding:0px;
}

.ts-shop-left-navigation-cat-selected {
	display:block;
	list-style:none;
	border:0px;
	cursor:pointer;
	margin:0px;
	padding:0px;
	font-weight:100;
}


.ts-shop-left-navigation-subcat {
	margin:0px;
	padding:0px;
	list-style:none;
	border:0px;
    display:none;
	margin-top:5px;
	margin-left:7px;
	margin-bottom:5px;
}

.ts-shop-left-navigation-subcat-selected {
	margin:0px;
	padding:0px;
	list-style:none;
	border:0px;
    display:none;
	margin-top:5px;
	margin-left:7px;
	margin-bottom:5px;
	font-weight:100;
}

.ts-shop-left-navigation-subcat-item {
	margin:0px;
	padding:0px;
	display:block;
	list-style:none;
	border:0px;
	margin-left:7px;
	text-decoration:none;
}

.ts-shop-left-navigation-subcat-item-selected {
	margin:0px;
	padding:0px;
	display:block;
	list-style:none;
	border:0px;
	margin-left:7px;
	text-decoration:none;
	font-weight:100;
	font-size: 11.5px;
}

.ts-shop-left-navigation-subcat-item a:link {
	text-decoration:none;
}

#optionbar {
	font-size:11px;
	margin-top:15px;
	display:block;
	clear:both;
}

.optionbar-item {
	font-size:11px;
	border-bottom:1px solid #999;
	display:block;
	clear:both;
}

#optionbar ul li {
	padding:5px;
	display:block;
	clear:both;
	float:left;
}

#pricebar {
	font-size: 11px;
    /* margin-top: 15px; */
    padding: 0px;
    margin-right: -10px;
    vertical-align: top;
}

.pricebar-item {
	font-size:11px;
	border-bottom:1px solid #999;
}

#pricebar ul li {
	padding:5px;
}

#pb-1 {
	background-color:#f5f5f5;
}
#pb-2 {
	background-color:#c5c5c5;
}
#pb-3 {
	background-color:#a5a5a5;
}
#pb-4 {
	background-color:#858585;
}
#pb-5 {
	background-color:#656565;
}
#pb-6 {
	background-color:#454545;
}

#pricebar ul li a:link {
	font-size:11px;
	color:#000;
	text-transform:uppercase;
}

#pricebar ul li a:visited {
	font-size:11px;
	color:#000;
	text-transform:uppercase;
}
/***
/** Navigation right side
*/

#ts-shop-right-navigation {
	float:right;
	list-style:none;
}

.ts-shop-right-navigation-cat {
	float:right;
	list-style:none;
	border:0px;
}

.ts-shop-right-navigation-subcat {
	float:right;
	list-style:none;
	border:0px;
	/* display:none; */
}

.ts-shop-right-navigation-subcat-item {
	float:right;
	list-style:none;
	border:0px;
	/* display:none; */
}

/***
/** Navigation top side
*/

#ts-shop-top-navigation {
	float:top;
	list-style:none;
}

.ts-shop-top-navigation-cat {
	float:left;
	list-style:none;
	border:0px;
}

.ts-shop-top-navigation-subcat {
	float:left;
	list-style:none;
	border:0px;
	/* display:none; */
}

.ts-shop-top-navigation-subcat-item {
	float:left;
	list-style:none;
	border:0px;
	/* display:none; */
}

#ts-shop-nav-left {
	width: 100px;
	float: left;
	margin: 0px;
	display: inline-block;
	height: 450px;
}

#ts-shop-nav-right {
	float: right;
	margin:0px;
	display:inline-block;
	height:100%;
}

/***
/** div ts shop input styling
*/

.ts-country-list-option {
	display: block;
	float:left;
	width: 90%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}

/***
/** product page styling.
*/

.product-box div {

}

.product-box {
	height:600px;
}

.product-title {
	
}

.product-title h2 {
	font-size:18px;
	margin: 0px;
	padding: 0px;
	border-bottom: 0px solid #efefef;
}

.product-subbox {
	
}

.product-image {
	float:left;
	margin:auto;
	margin:0px;
	padding-right:10px;
}
.product-image img {
	width:350px;
}

.product-audio {
	float: left;
    width: 50%;
    margin: 20px 0px 20px;
}
	
.product-video {
	float: left;
    width: 50%;
    margin: 20px 0px 20px;
}	

.product-details {
	margin:auto;
}
.product-description {
	width:100%;
	padding-left:15px;
}

.product-price {
	padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0px;
    float: left;
    width: 50px;
    font-size: large;
}

.product-buynow {
	text-align: center;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
	
}

.product-images {
	clear:auto;
	min-width:70%;
	float: left;	
	margin:5px;
}

.product-images-item {
	float:left;
	margin:auto;
	width: 10%;
	padding:5px;
	height: 80px;
}
.product-images-item img {
	height: 100%;
	overflow: hidden;
}


#product-info-box {
	clear:auto;
	min-width:90%;
	margin: 5px;
}

#product-info-box-item {
	float:left;
	margin:auto;
	width: 20%;
	padding:5px;
	margin: 2px;
	border: 1px solid lightgrey;
	font-size: 11px;
}


#product-social {
	float:left;
	padding:5px;
	margin-top:10px;
	margin-bottom:20px;	
}

#product-social-box-item {
	float:left;
	margin:auto;
	width: 50%;
	padding:2px;
	margin: 2px;
	font-size: 11px;
}

#product-footer {
	float:left;
	padding:5px;
	margin-top:80px;
}

#shop-floor {
	position: absolute;
    overflow-y: hidden;
    clear: both;
    /* width: 100%; */
    background-color: #ddd;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 10;
    border-top: 5px solid #dcdcdc;
	padding-left:170px;
	padding-top:60px;
}

.shop-floor-item {
	float:left;
	width:100px;
	border:1px solid #777;
	text-align:center;
	margin:10px;
}