
	body {


	}
	#ts-shop-result-message {

	}
	#ts-shop-msg-close {

	}
	#ts-critical-error-box {

	}
	div {

	}
	h1 {

	}
	fieldset {

	}
	input[type="text"],
	textarea {

	}
	input[type="button"],
	input[type="submit"] {

	}
	input[type="button"]:hover,
	input[type="submit"]:hover {

	}
	input[type="number"] {

	}
	input[name="submit"] {

	}
	input[type=radio] {

	}
	input[type="radio" i] {

	}
	input[type=checkbox],
	input[type=radio] {

	}
	input[type="checkbox" i] {

	}
	option:disabled {
	 
	}
	select option:disabled {
	 
	}
	button,
	input {

	}
	textarea {

	}
	label {

	}
	div {

	 
	}
	table td {

	}
	th {

	}
	ul {

	}
	li {

	}
	li:first-child {

	}
	.status-red {

	}
	.status-green {

		
	} 
	a:link, a:visited {

	}
	div.red {

	}
	div.blue {

	}
	div.blank {

	}
	p {

	}
	hr {

	}
	label {

	}
	.dot-red {

	}
	.ts-shop-upload-message {

	}
	.ts-shop-upload-message-red {

	}
	.ts-country-list-option {

	}
	#ts-shop-cart-form {

	}
