
	
	body { 

	} 

	div { 

	 
	} 

	#ts-shop-result-message { 

		
	} 

	#ts-shop-result-message:focus { 

	} 

	#ts-shop-msg-close { 

	} 

	#ts-critical-error-box { 

	} 

	div { 

	} 

	h1 { 

	} 

	fieldset { 

	} 

	input[type="text"],
	textarea { 

	} 

	input[type="button"],
	input[type="submit"] { 

	} 

	input[type="number"] { 

	} 

	input[name="submit"] { 

	} 

	input[type=radio] { 

	} 

	input[type="radio" i] { 

	} 

	input[type=checkbox],
	input[type=radio] { 

	} 

	input[type="checkbox" i] { 

	} 

	option:disabled { 
 
	} 

	select option:disabled { 
 
	} 

	button,
	input { 

	} 

	textarea { 

	} 

	label { 

	} 

	div { 

	 
	} 

	table td { 

	} 

	th { 

	} 

	ul { 

	} 

	li { 

	} 

	li:first-child { 

	} 

	.status-red { 

	} 

	.status-green { 
} 
 
	a:link, a:visited { 

	} 

	div.red { 

	} 

	div.blue { 

	} 

	div.blank { 

	} 

	.cover { 

	} 

	p { 

	} 

	hr { 

	} 


	#ts-shop-logo { 

		
	} 

	#ts-shop-error { 

		
	} 

	#ts-products-noproducts { 

	} 

	.ts-shop-ul { 

	} 


	.ts-shop-ul-set { 

	} 
	
		
	.ts-shop-ul { 

	} 

	.ts-shop-ul li: nth-child(even) { 
} 

	.ts-shop-li { 

	} 

	.ts-shop-ul-li-item { 

	} 

	.ts-shop-ul-li-item-icon { 

	} 

	.ts-shop-ul-li-item-product { 

	} 

	.ts-shop-ul-li-item-qty { 

	} 

	.ts-shop-ul-li-item-delete { 

	} 

	.ts-shop-ul-li-item-price { 

	} 

	.ts-shop-ul-li-item-update { 

	} 

	.ts-shop-ul-li-item-total { 

	} 

	.ts-shop-ul-li-item-description { 

	} 

	.ts-shop-ul-li-item input[type="number"] { 

	} 

	.ts-shop-ul-li-item input[type="button"] { 

	} 


	#ts-product { 

	} 
 
	.ts-product-image-icon { 

	} 

	#ts-product-list { 

	} 

	.ts-product-image-div { 

	} 
 
	.ts-product-image { 

	} 

	ts-product-image-div-featured { 

	} 

	.ts-product-list { 

	} 

	.ts-list-product-price { 

	} 

	.ts-list-product-link { 

	} 

	.ts-list-product-desc { 
 
	} 

	.ts-list-product-cat { 

	} 

	.ts-list-product-status { 

	} 

	.ts-list-product-link { 

	} 
 
	.ts-list-cart-button { 

	} 
 
	.ts-list-view-link { 

	} 

	.ts-product-group { 

	} 

	.ts-product-list { 

	} 

	.ts-group-product-price { 

	} 

	.ts-group-product-link { 

	} 

	.ts-group-product-desc { 
 
	} 

	.ts-group-product-cat { 

	} 

	.ts-group-product-status { 

	} 

	.ts-group-product-link { 

	} 
 
	.ts-group-cart-button { 

		
	} 
 
	.ts-group-view-link { 

	} 

	#ts-paginate { 

	} 

	#ts-paginate-left { 

	} 

	#ts-paginate-right { 

	} 

	#ts-paginate-arrow { 

		
	} 

	.ts.disabled.span { 

	} 

	label { 

	} 

	#ts-shop-cart-form { 

		
	} 

	.ts-shop-form-field { 

	} 

	#ts-shop-cart-form-data { 

	} 

	#ts-shop-cart-form input[type="text"] { 

	} 

	#ts-form-cart-payment-gateway-select, #ts-form-cart-shipping-country-select { 

	} 


	#ts-shop-blog { 

	} 

	.ts-shop-blog-item { 

	} 


	#ts-shop-articles { 

	} 

	.ts-shop-articles-item { 

	} 

	#ts-shop-pages { 

	} 

	.ts-shop-pages-item { 

	} 


	#ts-shop-form { 

	} 

	.ts-shop-form-section { 

	} 

	label { 

	} 

	#cart-contents { 

		
	} 

	#ts-shop-cart-error { 

	} 

	#ts-shop-delete { 

		
	} 

	.ts-product-status-red { 

	} 
	
	.ts-product-status-green { 

	} 
		
		
	.dot-red { 

	} 

	.ts-shop-upload-message { 

	} 

	.ts-shop-upload-message-red { 

	} 


	#ts-shop-left-navigation { 

	} 

	.ts-shop-left-navigation-cat { 
 
	} 

	.ts-shop-left-navigation-cat-selected { 
 

	} 

	.ts-shop-left-navigation-subcat { 
 

	} 

	.ts-shop-left-navigation-subcat-selected { 

	} 

	.ts-shop-left-navigation-subcat-item { 

	} 

	.ts-shop-left-navigation-subcat-item-selected { 

	} 

	.ts-shop-left-navigation-subcat-item a:link { 

	} 


	#ts-shop-right-navigation { 

	} 

	.ts-shop-right-navigation-cat { 

	} 

	.ts-shop-right-navigation-subcat { 

	 
	} 

	.ts-shop-right-navigation-subcat-item { 

	 
	} 


	#ts-shop-top-navigation { 

	} 

	.ts-shop-top-navigation-cat { 

	} 

	.ts-shop-top-navigation-subcat { 

	 
	} 

	.ts-shop-top-navigation-subcat-item { 

	 
	} 

	#ts-shop-nav-left { 

	} 

	#ts-shop-nav-right { 

	} 


	.ts-country-list-option { 

	} 

	
	.product-box div { 

	} 

	.product-box { 

	} 

	.product-title { 

		
	} 

	.product-title h2 { 

	} 

	.product-subbox { 

		
	} 

	.product-image { 

	} 

	.product-details { 

	} 

	.product-description { 

	} 

	.product-price { 

	} 

	.product-buynow { 

	} 

	.product-images { 

		
	} 

	.product-images-item { 

	} 

	.product-images-item img { 

	} 

	#product-info-box { 

	} 

	#product-info-box-item { 

	} 

	#product-social { 

		
	} 

	#product-social-box-item { 

	} 

	#product-footer { 

	} 

