
.ts-shop-page-item {
	border:1px solid #000;
	margin:0px;
	margin-top:15px;
	padding:5px;
}
.ts-shop-page-item div {
	
}

.ts-shop-page-item-header {
	border:1px solid #000;
	height:200px;
	overflow:hidden
}

.ts-shop-page-item-main {

}

.ts-shop-page-item-title {
	margin:0px;
	padding:0px;
	margin-left:10px;
	line-height:0.5em;
	
}
.ts-shop-page-item-title h1 {
	font-size:3em;
	line-height:1em;
}

.ts-shop-page-item-titles {
	margin-left:10px;
}

.ts-shop-page-item-author {
	
}

.ts-shop-page-item-date {
	float:right;
	text-align:right;
	margin-right:10px;
}

.ts-shop-page-item-textbox {
	margin-left:10px;
	padding: 1em;
	padding-left: 0.2em;
}

.ts-shop-page-item-rm {
	padding: 0.2em;
}

.ts-shop-page-item-rm a:link {
	text-decoration:none;
}

.ts-shop-page-item-rm a:active {
	text-decoration:none;
}

.ts-shop-page-item-rm a:visited {
	text-decoration:none;
}

.ts-shop-page-item-tags {
	float:right;
	text-align:right;
	margin-right:5px;
}

.ts-shop-page-item-main-footer {
	margin:5px;
	margin-left:10px;
	line-height:0.5em;
}